<body class="backgroundcolor">
<div id="logo3">
    <img class="logo2" src="https://i.imgur.com/1LY2500.png">
</div>

<div class="leftContainer">
        <div id="bookinfo">
            <div>
                <h4>Title:&nbsp;&nbsp;</h4><p><%= @book.title %></p>
            </div>

            <div>
                <h4>Author:&nbsp;&nbsp;</h4><p><%= @book.author %></p>
            </div>

            <div>
                <h4>Genre:&nbsp;&nbsp;</h4><p><%= @book.fiction ? "Fiction" : "Non-Fiction" %></p>
            </div>

            <div>
                <h4>Summary:&nbsp;&nbsp;</h4><p><%= @book.summary %></p>
            </div>
        </div>
    <div id = "bookimages">
        <%= image_tag(@book.image_url)%>
    </div>
</div>
<div class="rightContainer">
    <div class="storyboard">
        <h4 id="name">My Storyboards:</h4>
        <ul>
            <% @storyboards.each do |s| %>
             <li>
                <h4 class="storyboardName"><%= link_to s.name.capitalize, storyboards_path %>&nbsp;</h4>
    
                    <p>
                        <% if s.books.include?(@book) %>
                            Already Included
                            <%= link_to "Remove", remove_book_path(s, @book), method: :delete, class: 'btn btn-danger btn-xs' %>
                        <% else %>
                            <%= link_to "Add Book", add_book_path(s, @book), method: :post, class: 'btn btn-primary btn-xs' %>
                            <%= link_to "Remove", remove_book_path(s, @book), method: :delete, class: 'btn btn-danger btn-xs' %>
                        <% end %>
                    </p>
                </li>
        <% end %>
        </ul>
    </div>
</div>
</body>