<body class="backgroundcolor">
<img class="logo2" src="https://i.imgur.com/1LY2500.png">

<h1>My Storyboards</h1>

<div class="right">
    <h5>Create New Storyboard:</h5>
        <%= form_for @storyboard do |f| %>
            <div class ="create"> 
                <%= f.text_field :name %>
            </div>
            <div class="submitBtn">
                <%= f.submit 'Create', id: 'add' %>
            </div>
        <% end %> 
    </div>
    <div class="left">
        <ul>
            <% @storyboards.each do |storyboard| %>
                <li class="title"><%= storyboard.name.capitalize %></li>
                <%= link_to "Remove Storyboard", storyboard_path(storyboard), method: :delete, class: 'btn btn-danger btn-xs' %>
                    <% storyboard.books.each do |b| %> 
                        <li><%= image_tag(b.image_url, class: 'picture') %></li>
                    <% end %> 
            <% end %>  
         </ul> 
    </div> 
</body>
