<body class="backgroundColor">
<img class="logo2" src="https://i.imgur.com/1LY2500.png">

<h2>My Storyboards</h2>

<div class="rightSide">
    <h5>Create New Storyboard:</h5>
        <%= form_for @storyboard do |f| %>
            <div class ="create"> 
                <%= f.text_field :name %>
            </div>
            <div class="submitBtn">
                <%= f.submit 'Create', id: 'add' %>
            </div>
        <% end %> 
    </div>
    <div class="left">
            <% @storyboards.each do |storyboard| %>
               <h6 class="title"><%= storyboard.name.capitalize %></h6>
            <div>
               <%= link_to "Edit Name", edit_storyboard_path(storyboard), class: 'btn btn-primary btn-xs' %>
                <%= link_to "Remove Storyboard", storyboard_path(storyboard), method: :delete, class: 'btn btn-danger btn-xs' %>
             </div>
             <div class="bottom">
                    <% storyboard.books.each do |b| %> 
                        <%= image_tag(b.image_url, class: 'picture') %>
                    <% end %>
            </div> 
            <% end %>  
    </div> 
</body>
