<body class="backgroundcolor">
<img class="logo2" src="https://i.imgur.com/1LY2500.png">

<h1>My Storyboards</h1>

<h5>Create New Storyboard</h5>
    <div class="right">
        <%= form_for @storyboard do |f| %>
            <div> 
                <%= f.text_field :name %>
            </div>
            <div>
                <%= f.submit 'Create' %>
            </div>
        <% end %> 
    </div>
    <%# <div class="left">
        <ul>
            <% @storyboards.each do |storyboard| %>
                <%# <li><%= storyboard.name.capitalize %>
                    <%# <% @stoyboardItem.each do |i| %>
                        <%# <li><%= i.(book_id:, storyboard_id:) %>
                    <%# <% end %> 
            <%# <% end %>  
        <%# </ul> %>
    <%# </div> %> 
</body>
